PORT=5000
MONGO_URI=mongodb+srv://amangupta276302_db_user:root@cluster0.khzpqsd.mongodb.net/EventNext?retryWrites=true&w=majority
EMAIL_USER=amangupta276302@gmail.com
EMAIL_PASS=awao awly ywkc ksmc
JWT_SECRET=amankisuperkeyhereisthere